{% extends 'base.html' %}
{% block content %}
  <div style="display: flex; justify-content: space-between; align-items: center;">
      <h2>Post List</h2>
      <a href="{% url 'logout' %}">logout</a>
  </div>

  <!-- 검색 폼 추가 -->
  <form method="GET" action="{% url 'post-list' %}">
      <input type="text" name="q" placeholder="글 찾기" value="{{ request.GET.q }}">
      <button type="submit">검색</button>
  </form>

  <ul>
    {% for post in posts %}
      <li style="list-style-type: circle;">
        <strong>{{ post.author }}</strong> :
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'post-create' %}">Create a new post</a>

{% endblock %}

{% load static %}
<!-- 사용자 정의 CSS 파일 추가 -->
<link rel="stylesheet" href="{% static 'user/css/list.css' %}">
