{% extends 'base.html' %}
{% block content %}
  <div style="text-align: center;">
    <h2>{{ object.title }}</h2>
    
    <div style="border: 1px solid #ccc; padding: 15px; border-radius: 10px; width: 80%; margin: 0 auto;">
      <p>{{ object.content }}</p>
    </div>

    <p>Location: {{ object.location }}</p>

    {% if object.image %}
      <img src="{{ object.image.url }}" alt="Image for {{ object.title }}" style="width: 270px; height: 270px; object-fit: cover;">
    {% endif %}

    <p>Author: {{ object.author }}</p>
    <p>Created at: {{ object.created_at }}</p>

    {% if request.user.username == object.author %}
        <a href="{% url 'post-edit' object.pk %}">Edit</a> |
        <a href="{% url 'post-delete' object.pk %}">Delete</a> <br>
    {% endif %}

    <a href="{% url 'post-list' %}">Back to list</a>
  </div>
{% endblock %}

{% load static %}
<!-- 사용자 정의 CSS 파일 추가 -->
<link rel="stylesheet" href="{% static 'user/css/detail.css' %}">
