{% extends 'base.html' %}
{% block content %}
  <div style="display: flex; justify-content: space-between; align-items: center;">
      <h2>Post List</h2>
      <a href="{% url 'logout' %}">logout</a>
  </div>


  <ul>
    {% for post in posts %}
      <li>
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>

        <!-- 게시글 작성자만 수정/삭제 버튼을 볼 수 있도록 조건문 추가 -->
        {% if post.author == user %}
          <a href="{% url 'post-edit' post.pk %}">Edit</a>
          <a href="{% url 'post-delete' post.pk %}">Delete</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'post-create' %}">Create a new post</a>


{% endblock %}

{% load static %}
<!-- 사용자 정의 CSS 파일 추가 -->
<link rel="stylesheet" href="{% static 'user/css/list.css' %}">


