{% extends 'base.html' %}
{% block content %}
<head>
    <!-- 메타 태그 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>IT is True</title>
</head>

  <h2>{{ object.title }}</h2>
  <p>{{ object.content }}</p>
  <p>Location: {{ object.location }}</p>
  {% if object.image %}
    <img src="{{ object.image.url }}" alt="Image for {{ object.title }}">
  {% endif %}
  <p>Author: {{ object.author }}</p>
  <p>Created at: {{ object.created_at }}</p>

    <a href="{% url 'post-edit' object.pk %}">Edit</a> /
    <a href="{% url 'post-delete' object.pk %}">Delete</a> <br>

  <a href="{% url 'post-list' %}">Back to list</a>
{% endblock %}
<!-- Bootstrap JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
           integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

{% load static %}
<!-- 사용자 정의 CSS 파일 추가 -->
<link rel="stylesheet" href="{% static 'user/css/detail.css' %}">
